* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

canvas {
  position: absolute;
  /*cursor: crosshair;*/
  margin-top: -32px;
  display: inline-block;
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 1px;
}

#grid {
  z-index: 3;
}

#raster {
  z-index: 1;
}

#rasterTemp {
  z-index: 2;
}

#cursor {
  z-index: 4;
  border: solid 1px black;
}

#select {
  z-index: 3;
}

header {
  /*padding: 4px;*/
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 100000;
  width: 100%;
  border-bottom: solid 1px #777;
  cursor: default;
  line-height: 16pt;
}

header input {
  text-align: center;
  vertical-align: middle;
}

footer {
  /*padding: 4px;*/
  background-color: white;
  line-height: 16pt;
  display: block;
  border-top: solid 1px #777;
  height: 24px;
  padding-left: 4px;
}

footer span {
  display: inline-block;
  min-width: 14ch;
  vertical-align: middle;
}

footer span span {
  display: inline;
}

footer a {
  text-decoration: none;
  color: inherit;
}

#char {
  width: 16px;
}

#scrollLeft {
  display: inline-block;
}

#foreground {
  /*background-color: black;*/
}

#foreground, #background   {
  -webkit-appearance:none;
  width: 24px;
  height: 24px;
}

#inputType, #options{
  /*border-right: solid 1px #777;*/
  display: inline-block;
  padding: 4px 16px 4px 4px;
}

.tools {
  border-radius: 2px;
}

.bar {
  margin: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 2px;
  letter-spacing: -4px;
  line-height: 0px;
  border: solid 1px #ddd;
  vertical-align: top;
  min-height: 24px;
}

#textOptions, #cellOptions {
  line-height: 20px;
  letter-spacing: 0px;
}

#cellOptions span {
  border-radius: 2px;
}

#boldCell {
  font-weight: bolder;
}

#italicCell {
  font-style: italic;
}

#underlineCell {
  text-decoration: underline;
}

#strikethroughText {
  text-decoration: line-through;
}

.bar img, .bar svg {
  max-height: 20px;
  max-width: 20px;
  padding: 2px;
}

footer svg {
  max-height: 16px;
  max-width: 16px;
  vertical-align: middle;
}

.bar img:hover, .bar svg:hover, .bar span:hover, #themeList li:hover {
  background-color: #ddd !important;
}

.bar div {
  vertical-align: middle;
  display: table-cell;
  height: 24px;
}

.bar span {
  /*background-color: red;*/
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 16pt;
  text-align: center;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

#main {
  margin-top: 34px;
  overflow: scroll;
  height: calc(100% - 58px);
  width: 100%;
  position: relative;
}

.colorGroup {
  display: block;
  /*line-height: -22px;*/
  vertical-align: middle;
  height: 13px !important;
  letter-spacing: -6px;
}

.colorGroup div {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 2px;
  border: solid 1px black;
  margin-top: -5px;
}

.colorGroup svg:hover {
  background-color: white;
}

#preview {
  height: 20px;
  width: 10px;
  border: solid 1px black;
  border-radius: 2px;
}

#colors {
  /*line-height: -10px;*/
  padding: 1px;
}

.colorGroup svg {
  height: 10px;
  width: 10px;
  border-radius: 2px;
  border: solid 1px black;
  padding: 0;
  display: inline-block;
}

#saveDialog {
  position: absolute;
  /*background-color: red;*/
  top: 36px;
  left: 0;
  z-index: 5;
  visibility: hidden;
}

#textMode, #cellOptions span {
  line-height: 24px;
  vertical-align: top;
  letter-spacing: 0px;
}

#saveCancel {

}

#clipboard {
  top: 0;
  position: absolute;
  float: left;
  opacity: 0;
}

#themeList {
  position: absolute;
  z-index: 5;
  background-color: white;
  visibility: hidden;
  list-style: none;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid red;
}

#themeList li {
  padding: 2px;
  border-radius: 2px;
  cursor: default;
  margin-bottom: 2px;
}

#themeList li:last-child {
  margin-bottom: 0;
}

#themeList:after, #themeList:before {
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 5px;
  position: absolute;
  width: 0;
}

#themeList:after {
  border-color: transparent;
  border-bottom-color: white;
  border-width: 4px;
  margin-left: -4px;
}

#themeList:before {
  border-color: transparent;
  border-bottom-color: green;
  border-width: 5px;
  margin-left: -5px;
}
