* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 10pt;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

canvas {
  position: absolute;
  margin-top: -32px;
  display: inline-block;
  padding-top: 2px;
  padding-left: 2px;
  margin-left: 1px;
  outline: none;
}

header {
  top: 0;
  position: fixed;
  background-color: white;
  z-index: 6;
  width: 100%;
  border-bottom: solid 1px #777;
  cursor: default;
  line-height: 16pt;
}

header input {
  text-align: center;
  vertical-align: middle;
}

footer {
  background-color: white;
  line-height: 18pt;
  display: block;
  border-top: solid 1px #777;
  height: 27px;
  padding-left: 4px;
  cursor: default;
}

footer span {
  display: inline-block;
  min-width: 14ch;
  vertical-align: top;
}

footer span span {
  display: inline;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer svg {
  max-height: 16px;
  max-width: 16px;
  vertical-align: middle;
}

input {
  border: solid 1px #ddd;
  border-radius: 2px;
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

noscript p {
  padding: 4px;
}

#grid {
  z-index: 3;
}

#raster {
  z-index: 1;
}

#rasterTemp {
  z-index: 2;
}

#cursor {
  z-index: 4;
  border: solid 1px black;
}

#select {
  z-index: 3;
}

#char {
  width: 16px;
}

#scrollLeft {
  display: inline-block;
}

#foreground, #background   {
  -webkit-appearance:none;
  width: 24px;
  height: 24px;
}

#inputType, #options{
  display: inline-block;
  padding: 4px 16px 4px 4px;
}

#boldCell {
  font-weight: bolder;
}

#italicCell {
  font-style: italic;
}

#underlineCell {
  text-decoration: underline;
}

#strikethroughCell {
  text-decoration: line-through;
}

#textOptions, .cellOptions {
  line-height: 20px;
}

#main {
  margin-top: 34px;
  overflow: scroll;
  height: calc(100% - 61px);
  width: 100%;
  position: relative;
}

#preview {
  height: 24px;
  width: 10px;
  border: solid 1px #ddd;
  border-radius: 2px;
}

#colors {
  padding: 1px;
  height: 28px;
}

#textMode, .cellOptions span {
  line-height: 24px;
  vertical-align: top;
  letter-spacing: 0px;
  font-size: 14pt;

}

#clipboard, #clipboardPaste {
  top: 0;
  position: absolute;
  float: left;
  opacity: 0;
}

#resizeGrid, #autoCrop {
  text-align: center;
  border-radius: 2px;
  border: solid 1px #ddd;
}

#gridList input {
  text-align: right;
  padding: 2px;
}

#details {
  float: right;
  text-align: right;
  margin-right: 4px;
  font-weight: bold;
  font-size: 8pt;
}

#gridToggle {
  min-width: 0 !important;
  vertical-align: top;
}

.tools {
  border-radius: 2px;
}

.textIcon {
  border: inherit !important;
  margin-right: 0 !important;
}

.bar {
  margin: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 2px;
  letter-spacing: -4px;
  line-height: 0px;
  border: solid 1px #ddd;
  vertical-align: top;
  height: 26px;
}

.cellOptions span, .cellOptions svg {
  border-radius: 2px;
}

.bar svg {
  max-height: 20px;
  max-width: 20px;
  padding: 2px;
}

.bar svg, .bar span {
  border: solid 1px #ddd;
  border-radius: 2px;
}

.bar img:hover, .bar svg:hover, .bar span:hover, #themeList li:hover, .list li:hover {
  background-color: #ddd !important;
  border-radius: 2px;
}

.bar div {
  vertical-align: middle;
  display: table-cell;
  height: 24px;
}

.bar span {
  width: 24px;
  height: 24px;
  display: inline-block;
  font-size: 16pt;
  text-align: center;
  border: none;
  margin-right: 2px;
}

.colorGroup {
  display: block;
  vertical-align: middle;
  height: 13px !important;
  letter-spacing: -6px;
}

.colorGroup svg {
  height: 11px;
  width: 11px;
  border-radius: 2px;
  border: solid 1px #ddd;
  padding: 0;
  display: inline-block;
}

.colorGroup div {
  display: inline-block;
  height: 11px;
  width: 11px;
  border-radius: 2px;
  border: solid 1px #ddd;
  margin-top: -6px;
}

.colorGroup svg:hover {
  background-color: white;
}

.colorGroup:last-child {
  padding-top: 1px;
}

.colorGroup span {
  height: inherit;
  width: inherit;
  margin-right: inherit;
}

.list {
  position: absolute;
  z-index: 5;
  background-color: white;
  visibility: hidden;
  list-style: none;
  padding: 2px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

.list li {
  padding: 2px;
  border-radius: 2px;
  cursor: default;
  margin-bottom: 2px;
}

.list li:last-child {
  margin-bottom: 0;
}

/* Triangles generated from http://www.cssarrowplease.com/ */
.list:after, .list:before {
  border: solid transparent;
  bottom: 100%;
  content: " ";
  height: 0;
  left: 6px;
  position: absolute;
  width: 0;
}

.list:after {
  border-color: transparent;
  border-bottom-color: white;
  border-width: 4px;
  margin-left: -4px;
}

.list:before {
  border-color: transparent;
  border-bottom-color: #ddd;
  border-width: 5px;
  margin-left: -5px;
}

.list-bottom:after, .list-bottom:before {
  border: solid transparent;
  top: 100%;
  content: " ";
  height: 0;
  left: 6px;
  position: absolute;
  width: 0;
}

.list-bottom:after {
  border-color: transparent;
  border-top-color: white;
  border-width: 4px;
  margin-left: -4px;
}

.list-bottom:before {
  border-color: transparent;
  border-top-color: #ddd;
  border-width: 5px;
  margin-left: -5px;
}

.active {
  color: #fff !important;
  background-color: #555 !important;
}

.activeFill {
  fill: #fff !important;
}

.activeStroke {
  stroke: #fff !important;
}

#upload {
  visibility: hidden
  width: 1px;
  height: 1px;
}

.icon {
  color: #333;
  fill: #333;
}

.iconStroke {
  stroke: #333;
}

.inactive {
  fill: #999 !important;
}

#gridList label {
  display: inline-block;
  min-width: 64px;
  text-align: right;
}

.barButton {
  border: solid 1px #ddd;
  border-radius: 2px;
  padding: 2px;
}

.barButton:hover {
  background-color: #ddd !important;
}
